h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.section-title {
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
    position: relative;
    text-align: center;
  }
  

/*------------------------------------------------
/* 2.6 Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/*product*/
.product-style {
    position: relative;
    overflow: hidden;
  }
  
  .slick-slider .product-style {
    margin: 0 15px 25px;
  }
  
  .product-style figcaption p {
    margin-bottom: 20px;
  }
  
  .product-style img.product-item {
    position: relative;
    background: #EFEEE8;
    border: 1px solid #EAE8DF;
    padding: 15%;
    cursor: pointer;
    width: 100%;
  }
  
  .product-item figcaption {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .product-item figcaption>h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #74642F;
    margin: 0;
  }
  .product-item figcaption>p {
    margin: 0;
  }
  
  .product-item .item-price {
    color: #74642F;
    font-size: 1.3em;
  }
  
  @media screen and (max-width: 768px) {
    .products-grid .product-item {
      width: 45%;
    }
  
    .product-style img.product-item {
      /*height: 550px;*/
      object-fit: contain;
      margin: 0 auto;
    }
  
    .products-grid.col-3 .product-style,
    .products-grid.col-4 .product-style,
    .products-grid.col-5 .product-style {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 575px) {
    .products-grid .product-style {
      width: 100%;
    }
  }

/*----- Popular Books Section
--------------------------------------------------------------*/
.tab-content {
    position: relative;
  }
  
  .active[data-tab-content] {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

.tabs .tab.active, .tabs .tab:hover {
    color: #111;
    border-bottom: 2px solid #9A884C;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 55px 0;
    justify-content: center;
    list-style: none;
  }
  
  .tabs .tab {
    font-weight: 600;
    color: #999;
    margin-right: 50px;
    cursor: pointer;
  }
  
  .tabs .tab.active,
  .tabs .tab:hover {
    color: #111;
    border-bottom: 2px solid #9A884C;
  }

  /*add to cart*/
  .product-style button.add-to-cart {
    position: absolute;
    background: #000;
    color: #fff;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 3;
    bottom: -65px;
    left: 0;
    z-index: 9;
    transition: 0.3s ease-out;
  }

  .product-style:hover button.add-to-cart {
    bottom: 380px;
    bottom: 0;
  }
#product-list .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px; /* or whatever gap you want */
}

#product-list .col-md-3 {
  max-height: 1300px;
  min-height: 480px;
}

.carousel-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; /* 添加一些内边距 */
  background: rgba(255, 255, 255, 0.8); /* 可选：添加半透明背景以增强可读性 */
}

#slide1-img{
  height: 70%;
  width: 70%;
}

.product-item {
    min-height: 306.7px; /* 最小高度 */
    max-height: 900px; /* 最大高度 */
    overflow: hidden; /* 如果真的有必要可以隐藏溢出内容 */
}
