:root {
    --max-padding-right: 150px; /* 定义最大内边距 */
}

body {
    min-width: 400px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.section-title {
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
    position: relative;
    text-align: center;
  }
  

/*------------------------------------------------
/* 2.6 Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/*product*/
.product-style {
    position: relative;
    overflow: hidden;
  }
  
  .slick-slider .product-style {
    margin: 0 15px 25px;
  }
  
  .product-style figcaption p {
    margin-bottom: 20px;
  }
  
  .product-style img.product-item {
    position: relative;
    background: #EFEEE8;
    border: 1px solid #EAE8DF;
    padding: 15%;
    cursor: pointer;
    width: 100%;
  }
  
  .product-item figcaption {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .product-item figcaption>h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #74642F;
    margin: 0;
  }
  .product-item figcaption>p {
    margin: 0;
  }
  
  .product-item .item-price {
    color: #74642F;
    font-size: 1.3em;
  }
  
  @media screen and (max-width: 768px) {
    .products-grid .product-item {
      width: 45%;
    }
  
    .product-style img.product-item {
      /*height: 550px;*/
      object-fit: contain;
      margin: 0 auto;
    }
  
    .products-grid.col-3 .product-style,
    .products-grid.col-4 .product-style,
    .products-grid.col-5 .product-style {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 575px) {
    .products-grid .product-style {
      width: 100%;
    }
  }

/*----- Popular Books Section
--------------------------------------------------------------*/
.tab-content {
    position: relative;
  }
  
  .active[data-tab-content] {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

.tabs .tab.active, .tabs .tab:hover {
    color: #111;
    border-bottom: 2px solid #9A884C;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 55px 0;
    justify-content: center;
    list-style: none;
  }
  
  .tabs .tab {
    font-weight: 600;
    color: #999;
    margin-right: 50px;
    cursor: pointer;
  }
  
  .tabs .tab.active,
  .tabs .tab:hover {
    color: #111;
    border-bottom: 2px solid #9A884C;
  }

  /*add to cart*/
  .product-style button.add-to-cart {
    position: absolute;
    background: #000;
    color: #fff;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 3;
    bottom: -65px;
    left: 0;
    z-index: 9;
    transition: 0.3s ease-out;
  }

  .product-style:hover button.add-to-cart {
    bottom: 380px;
    bottom: 0;
  }
#product-list .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px; /* or whatever gap you want */
}

#product-list .col-md-3 {
  max-height: 1300px;
  min-height: 480px;
}

.carousel-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; /* 添加一些内边距 */
  background: rgba(255, 255, 255, 0.8); /* 可选：添加半透明背景以增强可读性 */
}


/* Custom CSS */
.img-custom {
    width: 100%; /* Ensures the image is responsive and covers the figure element */
    height: auto; /* Maintains the aspect ratio */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .img-custom {
        width: 200px; /* Example fixed width */
        height: 300px; /* Example fixed height */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .img-custom {
        width: 150px; /* Smaller fixed width */
        height: 225px; /* Smaller fixed height */
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .img-custom {
        width: 100px; /* Even smaller fixed width */
        height: 200px; /* Even smaller fixed height */
    }
}

.product-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-style {
    flex: 1; /* This makes the figure expand to fill available space, aligning item height */
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* This will stretch the content to fit the container */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .product-item {
        min-height: 800px; /* 较小设备的最小高度 */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .product-item {
        min-height: 200px; /* 中等设备的最小高度 */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .product-item {
        min-height: 307px; /* 较大设备的最小高度 */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .product-item {
        min-height: 380px; /* 非常大的设备的最小高度 */
    }

    .product-item figcaption {
        min-height: 90px;
    }
}

.carousel-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.center-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    width: auto;  /* 或者是100%, 根据你图片显示的需求调整 */
    max-height: 100%;  /* 确保图片不超过容器宽度 */
    height: 80%;  /* 保持图片比例 */
}

#img-wrapper, #img-container, #img-col, #description-col,
#img-wrapper2, #img-container2, #img-col2, #description-col2,
#img-wrapper3, #img-container3, #img-col3, #description-col3{
    height: 100%;
}

#description-col, #description-col2, #description-col3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 顶端对齐 */
    padding-top: 75px;
    padding-right: calc(min(10%, var(--max-padding-right)));
    width: 45%;
    padding-left: 0px;
}
#img-wrapper, #img-wrapper2, #img-wrapper3{
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .center-abs {
        transform: translate(-50%, -50%);
    }
    #img-col, #description-col, #img-col2, #description-col2, #img-col3, #description-col3{
        height: 50%;
    }
    #description-col, #description-col2, #description-col3{
        align-items: center;
        width: 80%;
        padding-top:0;
        padding-right:0;
    }
    #img-container,  #img-container2, #img-container3 {
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 100%;
    }
    #img-container,#img-container2,#img-container3 {
        flex-direction: column; /* 小屏幕上改为垂直排列 */
    }
}

.slide-img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25); /* 水平偏移、垂直偏移、模糊半径和颜色 */
    transition: box-shadow 0.3s ease-in-out; /* 添加平滑过渡效果 */
}

.product-item {
    transition: transform 0.5s ease; /* Apply smooth transition effect to product-item */
}

.product-item:hover img {
    transform: scale(1.1); /* When the mouse hovers over the product-item, enlarge the inner image */
}